# Flutter/Dart specific
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
build/
ios/Pods/
ios/Flutter/.last_build_id
.idea/
.vscode/
*.iml
.metadata
**/ios/Flutter/flutter_export_environment.sh
